<div class="container content">
    <div class=jumbotron>
    <h1 id="roboto" class="display-2">NYtimes Tech Scraper</h1>
     <p class="lead"></p>Browse recently screraped articles and leave notes on them</p>
    </div>

<div class="row">
    <h2>Scraped Articles</h2>

    <div id="articles"></div>
    <div id="notes"></div>
    <br>
    <hr>



</div>
</div>
</div>
