<div class="container content">
    <div class=jumbotron>
    <h1 id="roboto" class="display-2">NYtimes Tech Scraper</h1>
     <p class="lead"></p>Browse recently scraped articles and leave notes on them</p>
    </div>
    <a href="/scrape" id="scrape" type="button" class="btn btn-danger">Scrape Articles!!!!</a>
        <div class="row">
            <h2>Scraped Articles</h2>
            <div id="articles"></div>
            <div id="notes"></div>
        </div>
    <br>
    <hr>
</div>
