body {
    background-image: url("../img/bg.jpg");
    width:100%; height:100%;

}
.content {
    background-color: white;
}

#articles {
    text-align: center;
}
.jumbotron {
    background-image: url("../img/kicks_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
    box-shadow: 0 0 10px black;
}
#kicks-title {
    font-family: 'Anton', sans-serif;
}
.lead {
    margin-top: -20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: 'Oswald', sans-serif;
}
#section {
    font-size: 30px;
    color: black;
    font-family: 'Anton', sans-serif;
}
.row {
    padding-left: 60px;
}
#kicksname {
    font-size: 25px;
    color: black;
    font-family: 'Anton', sans-serif;
}
#release-date {
    margin-top: -15px;
    font-size: 40px;
    color: red;
    font-family: 'Anton', sans-serif;
}
#release {
    margin-top: -30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: 'Oswald', sans-serif;
}
.card {
    float: left; 
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px black;
    width: 30%;
    height: 500px;
}
img {
    width: 300px;
    height: 200px;
}
#notes {
    float: right;
    width: 37%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: white;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }

 
  @media screen and (min-width: 480px) {
    .jumbotron {
        background-image: url("../img/kicks_bg.png");
        max-width:100%;
        height:auto;
        background-color: red;
        box-shadow: 0 0 10px black;
    }
    .card {
        /* float: left;  */
        /* margin: 10px; */
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 0 15px black;
        width: 95%;
        height: 500px;
    }
    .row {
        padding-left: 10px;
    }
}
    
   