#kicksname {
    font-size: 55px;
    color: black;
    font-family: 'Anton', sans-serif;
}
#release-date {
    margin-top: -15px;
    font-size: 40px;
    color: red;
    font-family: 'Anton', sans-serif;
}
#release {
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: 'Oswald', sans-serif;
}
img {
    width: 300px;
    height: 200px;
}
      /* #articles {
        display: inline-block;
        overflow: auto;
        width: 80%;
        height: 700px;
      } */
      /* #notes {
        float: right;
        width: 37%;
      } */
      textarea, input {
        display: block;
        width: 100%;
        background-color: white;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
